/* src/Nav.css */

.nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  font-size: 3rem;
  margin-right: 12px;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-right: auto;
  margin-left: 190px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
  cursor: pointer;
}

.cart-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: black;
  font-size: 24px;
  background-color: #45a049;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.nav-icons:hover {
  color: #007bff;
}

.userlogo {
  height: 27px;
  width: 27px;
}

.btn-signin {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-signin:hover {
  background-color: #0056b3;
}
